html {
    box-sizing: border-box;
  }
  
  *, *:after, *:before {
      box-sizing: inherit;
  }
  
  body {
    background: #ffffff;
    color: #1d384b;
    font-family: "Courier New", Courier, monospace;
  }
  
  .main-heading {
    background: #a3e6de;
    color: #1d384b;
  }
  .main-heading__main-heading--js {
    background: #a3e6de;
    color: #fefefe;
  }
  
  .header-link {
    color: #57435a;
  }
  
  section {
    background: #ffffff;
  }
  article {
    background: #a6808c;
  }
  
  #top {
    background: #a3e6de;
    color: #1d384b;
  }
  
  a {
    color: #ff8a6c;
  }
  
  nav a {
    color: #985277;
  }
  
  .navigation {
    background: #e1fefd;
    padding: 12px;
    border-radius: 5px;
  }
  
  .navigation__link {
    color: #1a535c;
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .navigation__link--homepage {
    color: #ff6b6b;
    margin-right: 5px;
  }
  
  .box {
    background: #ff7f7e;
    color: #fefffe;
    width: 140px;
    height: 140px;
    top: 5px;
    padding: 40px;
    border: 2px dotted lightcoral;
    border-radius: 50%;
    margin: 2px;
    position: relative;
  }
  
  .absolute {
    background: #8dc8d6;
    color: #176477;
    width: 80px;
    height: 80px;
    padding: 40px;
    top: 60px;
    border: 1px dashed lightskyblue;
    border-radius: 50%;
    margin-left: 1220px;
    position: fixed;
  }
  
  .absolute-second {
    position: sticky;
    background: #ff8a88;
    width: 60px;
    height: 20px;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    padding: 8px;
    border: 3px dotted lavenderblush;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
  }
  
  .main {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .about__heading {
    color: #1d384b;
  }
  .about__description {
    color: #1d384b;
  }
  .frame {
    background: #fefffe;
    color: #1d384b;
    padding: 6px;
    border: 1px dashed#342137;
    border-radius: 2px;
    margin-bottom: 10px;
  }
  .frame__title {
    color: #ff6b6b;
  }
  
  .frame__description {
    color: #1d384b;
  }
  
  .frame__description--js {
    background: #a3e6de;
    color: #1d384b;
  }
  
  .notes {
    color: #1d384b;
  }
  
  .notes__description {
    color: #1d384b;
  }
  .notes__notes--js {
    background: #c6f3f5;
    color: #305569;
  }
  .notes__title {
    background: #4ecdc4;
    color: #fefefe;
    border-radius: 2px;
  }
  
  .list-ordered {
    list-style-type: upper-roman;
  }
  .list-unordered {
    list-style-type: square;
  }
  .table {
    table-layout: fixed;
    border-collapse: separate;
    background: #e1fefd;
  }
  
  .flex {
      border: 3px solid #ff6b6b;
      height: 100vh;
      font-size: 18px;
      display:flex;
      flex-direction:row;
      flex-wrap:nowrap;
      justify-content: space-around;
      align-content: space-between;
      align-items: center;
  }
  .flex__item{
      background:#a3e6de;
      text-align:center;
      font-weight: bold;
      padding:16px;
      border:2px solid #1a535c;
      width:50px;
      order:2;
      flex-shrink:2;
  }
  .flex__item--bigger{
      font-size: 30px;
      background-color: #ff8a6c;
      order:3;
      flex-shrink:1;
  }
  .flex__item--centered{
      align-self: center;
      order:1;
  }