.main-heading {
    background: #a3e6de;
    color: #1d384b;
    width:100%;
    margin-top:50px;
  &__main-heading--js {
    background: #a3e6de;
    color: #fefefe;
    display:block;
    width:100%;
    min-height:30px;
    padding-top:20px;
  }}