body{background: #D6CFCB;}
h1{color:#565264;}
h2{color: #565264;}
h3{color:#A6808C;}
section{background:#D6CFCB;}
article{background:#A6808C;}

.lavender-header{color: #552647;}
.meadow-paragraph{color:#354f52;}
#top{background:#A6808C;}

a {color:#489fb5;}
.header-link{color:#354f52;}
.header-main{color:#489fb5;}
nav a {color:#985277;}

.box {background: #A6808c;
      width:200px;
      height:100px;
      padding:10px;
      border: 10px dotted lightcoral;}

}