body{background: #D6CFCB;}
h1{color:#565264;}
h2{color: #565264;}
h3{color:#A6808C;}
section{background:#D6CFCB;}
article{background:#A6808C;}

.lavender-header{color: #552647;}
.meadow-paragraph{color:#354f52;}
#top{background:#A6808C;}

a {color:#489fb5;}
.header-link{color:#354f52;}
.header-main{color:#489fb5;}
nav a {color:#985277;}

.box {background: #A6808c;
      width:200px;
      height:200px;
      left:30px;
      top:10px;
      padding:10px;
      border: 10px dotted lightcoral;
      margin:8px;
      position:relative;}

.absolute 
    {background:#552647;
    color: lightpink;
    width:100%;
    height:12px;
    padding:0px;
    top:25px;
    border: 2px dashed lightskyblue;
    margin:1px;
    position:fixed;}

    .absolute-second
    {position:sticky;
        background: #A6808c;
        width:60px;
        height:10px;
        right:30px;
        padding:2px;
        top:5px;
        border:3px dotted lavenderblush;
        margin:1px;
    }
