body {
  background: #d6cfcb;
}
.main-heading {
  background:#a6808c;
  color: #565264;
}
h2 {
    color:#565264;
}

h1 {
  color: #565264;
}

h3 {
  color:#985377;
}
.header-link {
  color:#57435a;
}
.lavender-header {
  color:#937892;
}
section {
  background: #d6cfcb;
}
article {
  background: #a6808c;
}

#top {
  background: #a6808c;
}

a {
  color: #489fb5;
}

nav a {
  color: #985277;
}

.navigation {
  background: #b8b5b0;
  padding: 12px;
  border-radius: 5px;
}

.navigation__link {
  color: #985377;
  display: inline;
  margin-right: 5px;
  margin-left: 5px;
}

.navigation__link--homepage {
  color: #552647;
  margin-right: 5px;
}

.box {
  background: #a6808c;
  width: 200px;
  height: 200px;
  top: 10px;
  padding: 10px;
  border: 5px dotted lightcoral;
  margin: 2px;
  position: relative;
}

.absolute {
  background:#8dc8d6;
  color:#176477;
  width: 100px;
  height: 100px;
  padding: 0px;
  top: 60px;
  border: 1px dashed lightskyblue;
  margin: 0 auto;
  position: fixed;
}

.absolute-second {
  position: sticky;
  background: #a6808c;
  width: 60px;
  height: 10px;
  right: 30px;
  padding: 5px;
  top: 10px;
  border: 3px dotted lavenderblush;
  margin: 0 auto;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.week-summary {
  background: #fefffe;
  color: #565264;
  padding: 6px;
  border: 1px dashed#342137;
  border-radius: 2px;
  margin-bottom: 10px;
}

.week-summary__description{
  color: #565264;
}
.week-summary__example {
  color: #565264;
}
.week-summary__remember {
  color:#41444b;
}

.week-summary__remember--js {
  background:#489fb5;
  color:#552647;
}
.week-summary__notes {
    background:#565264;
    color:#d6cfcb;
    border-radius: 2px;
}
.week-summary__title {
  color: #342137;
}

.about__heading {
    color:#176477;

}
.about__description {
  background:#d6cfcb;
  color:#41444b;
}